<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand mb-0 h1">
        Stock Market
      </span>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
          <a routerLink="/home">
            Home
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/about">
            About
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/login">
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
