<h1> COMMUNICATION EXAMPLE </h1>
<div>
  <p> This is an example of communication between front and back end. </p>
  <p> Enter a value here, then click enter. The front end will send this
    to the back end, which will then add 5 to it. </p>
  <input
    type="text"
    class="form-control">
  <button
    class="btn btn-primary"
    >Send value to Back End</button>
  <hr/>
  <p> Now, select the display added 5 button. This will prompt the server to return
    the number we entered, with 5 added to it. This value will be displayed.</p>
  <button
    class="btn btn-primary"
  >Display added 5</button>
  <p>11</p>
</div>
