.big_font_120 {
    font-size: 120px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
    color: #F8F8F8;
    margin-top: 2rem;
    font-family: Georgia;
}

.vertical-center {
    /*min-height: 100vh;*/
    display: flex;
    align-items: center;
  }

h1 {
    color: black;
    font-family: Georgia;
}
